In [1]:
#UpdateAllNullFieldsToTrueNull.ipynb
#Set your target dataset below

library(bigrquery)

# Store the project ID
project_id = "yhcr-prd-phm-bia-core"

# Set the targetdb ie teh dataset you want it to action
sourcedb <-'yhcr-prd-phm-bia-core.CB_MYSPACE_JDB'
sourcedb <-gsub(' ','',sourcedb)
print (sourcedb)

[1] "yhcr-prd-phm-bia-core.CB_MYSPACE_JDB"

In [3]:
#Your loop references this table
#You run this to load the list of tables into the dataframe "table"

sql3 <-paste('select table_name, column_name  from ' ,sourcedb,'.INFORMATION_SCHEMA.COLUMNS where data_type = "STRING";', sep = "")
tb3 <- bq_project_query(project_id, sql3)

table <- bq_table_download(tb3)
#table 
print("tables set")

[1] "tables set"

In [ ]:
#This then loops through the data frame until the end
# uses the two variables table[[i, 1]] and table[[i, 2]]
# in the query

for(i in 2:nrow(table)) 
{
# for-loop over columns
#    print(paste0("Table: ", table[[i, 1]]))
#    print(paste0("Table: ", table[[i, 2]]))
    temp_sql_query  <-paste('update ' ,sourcedb,'.',table[[i, 1]] ,' set ', table[[i, 2]] ,' = null where ', table[[i, 2]] , ' = "NULL"'  , sep = "") 
    #print (temp_sql_query)    
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    #section below just brings this back to R 
    #temp_table <- bq_table_download(temp_queried_table)

    #Prints out a confirmation message for each update
    #print(paste0("Done: ", table[[1, 1]],' ', table[[1, 2]]))
    #cat("\n")
}

print ("Done all nulls")